# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# IDEs and editors
.vscode/
.idea/

# System files
Thumbs.db
.DS_Store

# Test / cache
.pytest_cache/
